<!DOCTYPE html>
<html>
<head>
    <title>Реализация API</title>
</head>
<body>
{%- block mainmenu -%}
    <ul>
        {% for key, value in menu.items() %}
            <li><a href="{{ value }}">{{ key }}</a></li>
        {% endfor %}
    </ul>
{% endblock mainmenu -%}
{% block content -%}
    {% if title -%}
        <h1>{{ title }}</h1>
    {% else -%}
        <h1>Реализация API</h1>
    {% endif -%}
{% endblock -%}
</body>
</html>
<script>
    document.cookie = "ex=1;";
    if (!document.cookie) {
        alert("Это сайт требует включенных cookies для своей корректной работы ");
    }
</script>